.mainBox{
    background: rgb(245, 245, 245);
    width: 90%;
    height: auto;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

.header{    
    display: flex;
    flex-direction: row;
    font-size: 20px;
    font-family: "Inconsolata";
    gap: 15%;
    max-width: 100%;
    padding: 16px;
    align-items: center;
    justify-content: space-around;
}

#player-name{
    justify-content: start;
}

#remaining-time{
    justify-content: center;
}

#score{
    justify-content: end;
}

.tablero{
    display: grid;
    grid-template-columns: repeat(8, 12.7%);
    grid-template-rows: repeat(2, 50%);
    background-color: rgb(27, 44, 23);
    border-radius: 5px;
    padding: 5px;
  }

.grid-element{
    background-color: rgba(54, 150, 32, 0.74);
    border-radius: 5px;
    padding: 7%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 70%;
    float: left;
    height: auto;
}

.carta{
    height: auto;
    max-width: 100%;
}

.button-area{
    display: flex;
    flex-direction: row;
    font-family: "Inconsolata";
    padding: 16px;
    align-items: center;
    justify-content: space-around;
}

.button{
    border-radius: 20px;
    background: rgba(255, 153, 0, 1);
    border: none;
    height: 30px;
    width: 150px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: "Inconsolata";
}

body{    
    background: url(/img/Campus-galería-4.jpg) center center fixed;    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

